<div id="<%= dom_id vehicle %>">
  <span class="flex flex-row justify-between mb-4">
    <%= render BackLinkComponent.new("All vehicles", vehicles_path) %>
    <span class="flex flex-col">
      <h2 class="text-slate-700 self-center font-bold text-3xl"><%= vehicle.friendly_title %></h2>
      <p class="text-slate-400 text-right"><%= vehicle.vin %></p>
    </span>
  </span>
  <%= render LogEntryListComponent.new(vehicle) %>
</div>
