<div id="<%= dom_id vehicle %>_log">
  <div class="flex flex-row-reverse items-center">
    <%= render LinkButtonComponent.new(text: "New Log Entry", href: new_vehicle_log_entry_path(vehicle)) %>
  </div>
  <h3 class="text-slate-700 font-semibold text-3xl mb-4">Log</h3>
  <div class="mx-auto">
    <table class="mx-auto w-full">
      <thead class="bg-sky-100 h-10">
        <tr class="text-left">
          <th class="pl-4" scope="col">Title</th>
          <th class="pl-4" scope="col">Cost</th>
          <th class="pl-4" scope="col">Date Performed</th>
          <th class="pl-4" scope="col">Mileage</th>
          <th class="pl-4" scope="col">Receipts?</th>
        </tr>
      </thead>
      <tbody class="overflow-y-scroll max-h-[80vh]">
        <% log_entries.each do |log_entry| %>
          <tr class="even:bg-gray-50 hover:bg-gray-100 transition-colors">
            <td class="border-collapse"><%= link_to log_entry.title, log_entry, class: "block p-4" %></td>
            <td class="border-collapse"><%= link_to log_entry.cost.format, log_entry, class: "block p-4" %></td>
            <td class="border-collapse"><%= link_to log_entry.performed_on, log_entry, class: "block p-4" %></td>
            <td class="border-collapse"><%= link_to log_entry.formatted_mileage, log_entry, class: "block p-4" %></td>
            <td class="border-collapse"><%= link_to log_entry.has_paper_record.to_s, log_entry, class: "block p-4" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="flex flex-row-reverse">
      <h4 class="mt-8 text-slate-700 font-semibold text-2xl"> Total Cost: <%= total_cost.format %></h4>
    </div>
  </div>
</div>
